---
---

@import "{{ site.theme }}";

/* Google custom search */
.gsc-control-cse {
    padding: 0px !important;
}

.gsc-search-button {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 5px !important;
}

.gsc-search-button-v2, .gsc-search-button-v2:hover,
.gsc-search-button-v2:focus {
    padding: 6px 12px !important;
}
